form {
    padding: 8px 0;
    display: flex;
}
form .btn {
    margin: 2px;
}
form div.form-group{
    align-self: flex-end;
    margin: 0.5rem;
}
.form-select, .form-input {
    width: unset;
    display: unset;
}
.card {
    justify-content: center;
    height: 100%;
    
}
.car-body {
    text-align: justify;
}
.card-body a.loginButton {
    margin-bottom: 0.5rem;
    width: calc(100% - 32px);
    text-align: center;
}
.content-4 {
    padding: 50px 0;
}
h5 {
    margin: 0 0 1rem 0;
    text-align:center;

}
#err-getcourse {
    grid-column: 1/5;
    justify-self: center;
    font-size: 34px;
    text-align: center;
}
#err-getcourse a {
    margin-top: 0.5rem;
    display: inline-block;
    color :#7b7b7b;
    transition: 0.25s;
}
#err-getcourse a:hover {
    color: #ccc;
}
#main-content {
    transition: opacity 0.25s;
}