main {
    height: 100%;
    justify-content: center;
}
p {
    margin:2rem 0 3rem 0;
    text-align: justify;
    font-size : calc(var(--font-size) - 1px);
}
#home-connect .loginButton {
    font-size: var(--font-size);
}
.content.content-3 {
    align-items: flex-start;
}
#last-courses h2 {
    text-align: center;
      
}
#last-courses {
    margin: 220px 0 75px;
}
.home-img {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.home-img img {
    width: 62.5%;
    filter: drop-shadow(0 0 1.125rem #222);
}
.home-content {
    line-height: 1.75;
}
.card {
    height: 100%;
}