@media (max-width: 575.98px) {
    .content div:last-child h3, .content div:last-child form {
        width: unset;
    }
    #content-img {
        text-align: center;
    }
    form .form-group:nth-child(3) {
        text-align: center;
    }
    main, body, html {
        height: unset;
    }
}


@media (min-width: 576px) and (max-width: 991.98px)  { 

 }

@media (min-width: 992px) and (max-width: 1199.98px) {  }

@media (min-width: 1200px) and (max-width: 1399.98px) {  }